        <!-- featured-area -->
        <section class="featured-post-area section__hover-line pt-75">
            <div class="container">
                <div class="section__title-wrap mb-40">
                    <div class="row align-items-end">
                        <div class="col-sm-6">
                            <div class="section__title">
                                <span class="section__sub-title">Featured</span>
                                <h3 class="section__main-title">Editor Choice</h3>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section__read-more text-start text-sm-end">
                                <a href="blog.html">More Featured Post <i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="featured__post">
                            <div class="featured__thumb" data-background="assets/img/blog/blog08.jpg">01</div>
                            <div class="featured__content">
                                <ul class="tgbanner__content-meta list-wrap">
                                    <li class="category"><a href="blog.html">nature</a></li>
                                    <li><span class="by">By</span> <a href="blog.html">Yokolili L.</a></li>
                                </ul>
                                <h4 class="title tgcommon__hover"><a href="blog-details.html">A hypothetical collection of
                                potentially diverse</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="featured__post">
                            <div class="featured__thumb" data-background="assets/img/blog/blog09.jpg">02</div>
                            <div class="featured__content">
                                <ul class="tgbanner__content-meta list-wrap">
                                    <li class="category"><a href="blog.html">seo</a></li>
                                    <li><span class="by">By</span> <a href="blog.html">limonda a.</a></li>
                                </ul>
                                <h4 class="title tgcommon__hover"><a href="blog-details.html">Experimentally accessible by a connected community</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="featured__post">
                            <div class="featured__thumb" data-background="assets/img/blog/blog10.jpg">03</div>
                            <div class="featured__content">
                                <ul class="tgbanner__content-meta list-wrap">
                                    <li class="category"><a href="blog.html">human</a></li>
                                    <li><span class="by">By</span> <a href="blog.html">ukolili l.</a></li>
                                </ul>
                                <h4 class="title tgcommon__hover"><a href="blog-details.html">Stanford physicists Andrei
                                Linde In a new study</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="featured__post">
                            <div class="featured__thumb" data-background="assets/img/blog/blog11.jpg">04</div>
                            <div class="featured__content">
                                <ul class="tgbanner__content-meta list-wrap">
                                    <li class="category"><a href="blog.html">technology</a></li>
                                    <li><span class="by">By</span> <a href="blog.html">Pablo M.</a></li>
                                </ul>
                                <h4 class="title tgcommon__hover"><a href="blog-details.html">Observable universes each of which would comprise</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="featured__post">
                            <div class="featured__thumb" data-background="assets/img/blog/blog12.jpg">05</div>
                            <div class="featured__content">
                                <ul class="tgbanner__content-meta list-wrap">
                                    <li class="category"><a href="blog.html">gaming</a></li>
                                    <li><span class="by">By</span> <a href="blog.html">hilix x.</a></li>
                                </ul>
                                <h4 class="title tgcommon__hover"><a href="blog-details.html">Of observers the observable
                                known universe</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="featured__post">
                            <div class="featured__thumb" data-background="assets/img/blog/blog13.jpg">06</div>
                            <div class="featured__content">
                                <ul class="tgbanner__content-meta list-wrap">
                                    <li class="category"><a href="blog.html">medical</a></li>
                                    <li><span class="by">By</span> <a href="blog.html">hilix x.</a></li>
                                </ul>
                                <h4 class="title tgcommon__hover"><a href="blog-details.html">Accessible to telescopes, is
                                about 90 billion years</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- featured-area-end -->