        <!-- newsletter-area -->
        <section class="newsletter-area pb-80" id="newsletter">
            <div class="container">
                <div class="newsletter__wrap">
                    <div class="row align-items-center">
                        <div class="col-xl-5 col-lg-6">
                            <div class="newsletter__title">
                                <span class="sub-title">newsletter</span>
                                <h4 class="title">Get notified of the best deals on our WordPress Themes</h4>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6">
                            <div class="newsletter__form-wrap">
                                <form action="#" class="newsletter__form">
                                    <div class="newsletter__form-grp">
                                        <input type="email" placeholder="Email address" required>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                I agree that my submitted data is being collected and stored.
                                            </label>
                                        </div>
                                    </div>
                                    <button class="btn" type="submit"><span class="text">Subscribe</span> <i class="fas fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- newsletter-area-end -->